#canvas{
    /*border: 5px solid blue;
    */background-color: white !important;
    cursor: url(http://icons.iconarchive.com/icons/designcontest/vintage/16/Brush-5-icon.png),default;
}


#blue {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#blue:hover {
    opacity: 1;
}

#blue::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 10px;
    background: rgb(76, 104, 228);
    cursor: pointer;
}

#blue::-moz-range-thumb {
    width: 25px;
    height: 10px;
    background: rgb(76, 104, 228);
    cursor: pointer;
}

#green {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#green:hover {
    opacity: 1;
}

#green::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

#green::-moz-range-thumb {
    width: 25px;
    height: 10px;
    background: #4CAF50;
    cursor: pointer;
}

#red {
    -webkit-appearance: none;
    width: 100%;
    height: 10px;
    background: #d3d3d3;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

#red:hover {
    opacity: 1;
}

#red::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 10px;
    background: rgb(238, 63, 63);
    cursor: pointer;
}

#red::-moz-range-thumb {
    width: 25px;
    height: 10px;
    background: rgb(238, 63, 63);
    cursor: pointer;
}

h1{
    text-align: center;
    font-size:35px !important;
    font-family: 'East Sea Dokdo', cursive !important;
    
}

.bs{
    font-family: 'Source Code Pro', monospace;
}

.ts{
    font-family: 'Source Code Pro', monospace;
}

.if{
    font-family: 'Source Code Pro', monospace;
}
.bsh{
    font-family: 'Source Code Pro', monospace; 
}
.container{
    width: 1070px !important;
  margin-left: auto !important;
  margin-right: auto !important;
  padding-top: -100px !important;
  
  
}
.row{
    
    margin-left: 0px;
    margin-right: 0px;
    padding-top: -100px !important;
    /*height: 600px !important;*/
}

.lefttool{
   
    height: 520px !important;
}
.col-sm-2{
    height: 520px !important;
}

body{
    background-color: rgb(252, 241, 145) !important;
}

.righttool{
    /*border-style: solid;
   /* border-right: 20px solid white;*/
  
   border-left: -10px !important;
}

.centercanvas{
    
}